# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.egg-info/
*.egg
MANIFEST

.idea/*
.vscode/*

exp/*
!exp/.gitkeep

tmp
tmp/*

data
data/*

assets/*
!assets/postprocess

