numpy
imageio
trimesh
opencv-python
pillow
termcolor
open3d
cython
fvcore
plyfile
scikit-image
transforms3d
transformers
jax
jaxlib
opendr
GitPython
tensorboard
tqdm
deprecation
chumpy@git+https://github.com/mattloper/chumpy.git 
manotorch@git+https://github.com/lixiny/manotorch.git
pytorch3d@git+https://github.com/facebookresearch/pytorch3d@v0.7.2
